
.experience-container {
  display: flex;
  flex-direction: column;
}

.experience-text-block {
  max-width: 288px;
  margin: 0 auto 32px;

}

.title-experience {
  font-family: "Aboreto", sans-serif;
  font-weight: 400;
  font-size: 36px;

  line-height: 1.2;
  letter-spacing: -0.01em;
  text-align: center;
  color: #0b0803;

  margin-bottom: 24px;
}

.text-experience {
  text-align: center;
  color: #0b0803;
}

.list-images {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
  margin: 0 auto;
}

.list-item {
  display: block;
  width: 288px;
}

.img-item {
  border-radius: 32px;
  width: 288px;

  object-fit: cover;
}

.list-item:last-child {
  .img-item {
    height: 391px;
  }
}

.image-source {
  width: 288px;
}

@media only screen and (min-width: 768px) {

  .experience-text-block {
    max-width: 768px;
  }

  .list-images {
    display: grid;
    grid-template-columns: repeat(2, 336px);
    gap: 32px;
    justify-content: center;
  }

  .list-item {
    display: block;
    width: 336px;
  }

  .list-item:last-child {
    width: 100%;
  }

  .image-source {
    width: 336px;
  }

  .image-source:last-child {
    width: 100%;
  }

  .img-item {
    width: 336px;
    object-fit: cover;

    height: auto;
    display: block;
  }

  .img-item:last-child {
    width: 100%;
  }

  .list-item:nth-child(7) {
      grid-column: 1 / -1;
  }

}


@media only screen and (min-width: 1440px) {

  .title-experience {
    font-size: 48px;
  }

  .list-images {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 948px;
    justify-content: start;
    gap: 32px;
  }

  .list-item {
    width: fit-content;
  }

  /*.list-item:nth-child(3) {*/
  /*  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);*/
  /*}*/

  /*.img-item:nth-child(3) {*/
  /*  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);*/
  /*}*/

  /*.item-three {*/
  /*  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);*/
  /*}*/

  .item-three, .item-four {
    height: 234px;
  }

  .image-source {
    width: 416px;
  }

  .image-source:last-child {
    width: 416px;
  }

  .img-item {
    width: 416px;
    object-fit: cover;

    height: auto;
    display: block;
  }

  .list-item:last-child {
    .img-item {
      height: 416px;
      width: 416px;
    }
  }
}